<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?define HexHelper_TargetDir=$(var.HexHelper.TargetDir)?>
    <Product Id="*" Name="HEX Helper" Language="1033" Version="!(bind.fileVersion.HexHelper.exe)" Manufacturer="Mike Schulze" UpgradeCode="{6BD44D62-805B-4CFD-AC60-81F42B05D327}">

        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <!-- Ensure we are on the correct version of Windows -->
        <Condition Message="Only Windows 7 SP 1 and up is supported">
            <![CDATA[Installed OR VersionNT >= 602 OR ( VersionNT = 601 AND ServicePackLevel >= 1 )]]>
        </Condition>

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

        <MediaTemplate EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="HexHelper.Installer" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
            <ComponentGroupRef Id="Deliverables" />
        </Feature>

        <!-- UX to be used -->
        <UIRef Id="WixUI_InstallDir" />
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

        <!-- How our app is presented under Programs & Features -->
        <SetProperty Id="ARPNOMODIFY" Value="1" After="CostFinalize" />
        <SetProperty Id="ARPNOREPAIR" Value="1" After="CostFinalize" />
        <SetProperty Id="ARPHELPLINK" Value="https://github.com/mike-schulze/hex-helper" After="CostFinalize" />
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="HEX Helper" />
            </Directory>

            <Directory Id="ProgramMenuFolder">
                <Directory Id="HexHelperFolder" Name="HEX Helper"/>
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <!-- Shortcut for Start Menu -->
            <Component Id="HexHelperStartShortcut" Guid="{8385766E-B3CC-4373-B77D-43D804DF0644}">
                <!-- Shortcut itself -->
                <Shortcut Id="HexHelperShortcut"
                          Name="HEX Helper"
                          Description="Enhance your HEX - Shards of Fate experience"
                          Target="[INSTALLFOLDER]HexHelper.exe"
                          Directory="HexHelperFolder">
                    <Icon Id="VirbEditShortcutIcon" SourceFile="..\HexHelper\Application.ico" />
                </Shortcut>
                <!-- Required for shortcut to work -->
                <RemoveFolder Id="RemoveApplicationShortcut" Directory="HexHelperFolder" On="uninstall" />
                <!-- Required for shortcut to work -->
                <RegistryValue Root="HKCU" Key="Software\HEX Helper" Name="installed" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id="Deliverables" Directory="INSTALLFOLDER">
            
            <Component Id="Microsoft.Practices.ServiceLocation.dll" Guid="3ca42438-6021-4f55-8f79-962ce600a788">
                <File Id="Microsoft.Practices.ServiceLocation.dll" Name="Microsoft.Practices.ServiceLocation.dll" Source="$(var.HexHelper_TargetDir)Microsoft.Practices.ServiceLocation.dll" />
            </Component>
            <Component Id="MahApps.Metro.dll" Guid="0ac25e9f-0408-4b89-8bd4-302993722460">
                <File Id="MahApps.Metro.dll" Name="MahApps.Metro.dll" Source="$(var.HexHelper.TargetDir)MahApps.Metro.dll" />
            </Component>
            <Component Id="GalaSoft.MvvmLight.dll" Guid="8c2e4caf-dc8d-436a-a6ec-0d7aa97a5951">
                <File Id="GalaSoft.MvvmLight.dll" Name="GalaSoft.MvvmLight.dll" Source="$(var.HexHelper.TargetDir)GalaSoft.MvvmLight.dll" />
            </Component>
            <Component Id="GalaSoft.MvvmLight.Extras.dll" Guid="0a73c63f-ef63-4ba3-b18d-11ea09662430">
                <File Id="GalaSoft.MvvmLight.Extras.dll" Name="GalaSoft.MvvmLight.Extras.dll" Source="$(var.HexHelper.TargetDir)GalaSoft.MvvmLight.Extras.dll" />
            </Component>
            <Component Id="GalaSoft.MvvmLight.Platform.dll" Guid="51284bf1-a577-4a57-a7ab-12b053ea9524">
                <File Id="GalaSoft.MvvmLight.Platform.dll" Name="GalaSoft.MvvmLight.Platform.dll" Source="$(var.HexHelper.TargetDir)GalaSoft.MvvmLight.Platform.dll" />
            </Component>
            <Component Id="System.Windows.Interactivity.dll" Guid="92a04be9-cd7d-49b2-a89e-a6e22e6a600f">
                <File Id="System.Windows.Interactivity.dll" Name="System.Windows.Interactivity.dll" Source="$(var.HexHelper.TargetDir)System.Windows.Interactivity.dll" />
            </Component>
            <Component Id="Newtonsoft.Json.dll" Guid="c750e92c-eecc-4652-a584-a3b8aeebc772">
                <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.HexHelper.TargetDir)Newtonsoft.Json.dll" />
            </Component>
            <Component Id="schulzem.XamlConverters.dll" Guid="28671cf7-9d59-4a77-9898-a858c5ae7887">
                <File Id="schulzem.XamlConverters.dll" Name="schulzem.XamlConverters.dll" Source="$(var.HexHelper.TargetDir)schulzem.XamlConverters.dll" />
            </Component>
            <Component Id="HexHelper.exe" Guid="d35bc70c-9da4-4b63-a6c6-9fa4843f6d0f">
                <File Id="HexHelper.exe" Name="HexHelper.exe" Source="$(var.HexHelper_TargetDir)HexHelper.exe" />
            </Component>
            <Component Id="HexHelper.exe.config" Guid="da97793d-228f-4b78-8822-5cd936658337">
                <File Id="HexHelper.exe.config" Name="HexHelper.exe.config" Source="$(var.HexHelper_TargetDir)HexHelper.exe.config" />
            </Component>
            <Component Id="HexHelper.Libs.dll" Guid="c6b46df0-5bfe-47ac-b523-2b0d3d941a24">
                <File Id="HexHelper.Libs.dll" Name="HexHelper.Libs.dll" Source="$(var.HexHelper_TargetDir)HexHelper.Libs.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>